/** Alternative Mobile UI **/
body.KUP-setting-alternativeMobileUI {

  /** All articles **/
  article.entry {

    /** Meta section **/
    .meta-content {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      vertical-align: middle;

      img {
        width: 20px;
        height: 20px;
        aspect-ratio: 1;
      }

      /** Time posted **/
      .time-outer {
        vertical-align: middle;
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        padding: 0.5rem 0;

        .timeago {
          margin-left: 0.25rem;
        }
      }

      /*** End time posted ***/

      .meta-icon {
        font-size: 20px;
        margin-right: 0.25rem;
        margin-left: 0.25rem;
      }
    }

    /*** End meta section ***/

    /** Footer **/
    footer {
      z-index: 1;

      menu {
        align-items: center;

        .boost-link-removed {
          overflow: hidden;
          height: 0;
          width: 0;
          visibility: hidden;
          position: absolute;
        }
      }
    }

    .fa-solid.fa-thumbtack {
      font-size: 1.4em;
      vertical-align: middle;
    }

    .footer-button {
      font-size: 1.4em;
      vertical-align: middle;
      white-space: nowrap;

      &.active {
        color: var(--kbin-button-primary-bg);
      }

      &.more-link {
        width: 1.5em;
        height: 100%;
      }
    }

    /*** End footer ***/
  }

  /*** End all articles ***/

  /** Article page **/
  #middle.page-entry-single {
    article.entry {
      grid-template-areas:
        "vote image title"
        "vote image shortDesc"
        "vote image meta"
        "vote image footer"
        "body body body"
        "preview preview preview";
    }
  }

  /** Article feed **/
  #middle:not(.page-entry-single) #content {
    article.entry {
      grid-template-areas:
        "vote image title"
        "vote image shortDesc"
        "vote image meta"
        "vote image footer"
        "body body body"
        "preview preview preview";
    }
  }

  /*** End article feed ***/


  /** Mobile Article Page**/
  @media (max-width: 689.98px) {

    /** Mobile Rounded edges **/
    &.rounded-edges .page-entry-single article.entry:not(.no-image) .media-preview-content {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    /** Mobile Article page **/
    .page-entry-single #content {
      article.entry:not(.no-image) {
        grid-template-areas:
          "preview preview"
          "title vote"
          "shortDesc shortDesc"
          "meta meta"
          "footer footer"
          "image image"
          "body body";

        &:not(.no-media-preview) {
          figure {
            display: none;
          }
        }

        &.no-media-preview {
          grid-template-areas:
            "image image"
            "title vote"
            "shortDesc shortDesc"
            "meta meta"
            "footer footer"
            "preview preview"
            "body body";
        }
      }

      article.entry.no-image {
        grid-template-areas:
          "preview preview"
          "title vote"
          "shortDesc shortDesc"
          "meta meta"
          "footer footer"
          "image image"
          "body body";
        grid-template-columns: auto min-content;
      }

      article.entry > figure {
        border-top-left-radius: var(--kbin-rounded-edges-radius) !important;
        border-top-right-radius: var(--kbin-rounded-edges-radius) !important;
      }

      .media-preview-li {
        display: none;
      }
    }
    /*** End Mobile article page ***/


    /** Mobile Front page **/

    /** Mobile Rounded edges **/
    &.rounded-edges #middle:not(.page-entry-single) {
      article.entry:not(.no-image) .media-preview img {
        border-bottom-left-radius: var(--kbin-rounded-edges-radius);
        border-bottom-right-radius: var(--kbin-rounded-edges-radius);
      }
    }

    #middle:not(.page-entry-single) #content {
      article.entry {
        margin-bottom: 2rem;

        .media-preview {
          margin-bottom: -.5rem;
        }
      }

      .no-image-placeholder {
        display: block;
      }

      article.entry:not(.no-image) {
        grid-template-areas:
        "image image"
          "title vote"
          "shortDesc vote"
          "meta meta"
          "body body"
          "footer footer"
          "preview preview";


        &.no-media-preview {
          grid-template-areas:
            "image image"
            "title vote"
            "shortDesc vote"
            "meta meta"
            "body body"
            "footer footer"
            "preview preview";
        }
      }

      article.entry.no-image {
        grid-template-areas:
            "image image"
            "title vote"
            "shortDesc vote"
            "meta meta"
            "body body"
            "footer footer"
            "preview preview";
        grid-template-columns: auto min-content;

      }
    }

    /** Mobile All pages **/
    #content {
      article.entry {
        padding-bottom: 0;

        .meta-content {
          justify-content: space-around;
        }

        .media-preview {
          overflow: hidden;
          max-height: 90vh;
          padding: 0;
        }

        .media-preview img {
          max-width: 100%;
        }

        .vote {
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }

        .entry__meta {
          text-align: center;
        }

        footer {
          text-align: center;
          border-top: var(--kbin-section-border);
          margin-top: 1rem;
          padding-top: 0.8em;
          padding-bottom: .8em;

          menu {
            place-content: space-around;
          }
        }

        menu {
          grid-auto-columns: auto;

          .fa-solid.fa-thumbtack {
            font-size: 1.4em;
            vertical-align: middle;
          }
        }
      }

      /** Mobile Article with thumbnail **/
      article.entry:not(.no-image) {
        > figure {

          img {
            width: 100%;
            max-width: 100%;
            max-height: 90vh;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }
        }

        grid-template-columns: auto min-content;
        padding-top: 0;
      }

      /*** End Mobile Article with thumbnail ***/
    }
  }
  /*** End Mobile ***/

  /*** Compact mode ***/
  /** Compact rounded edges **/
  &.rounded-edges {
    #middle main#main.view-compact {
      #content article.entry figure {
        border-top-right-radius: var(--kbin-rounded-edges-radius) !important;
      }
    }
  }

  #middle main#main.view-compact {
    #content article.entry {
      grid-template-areas:
        "vote title image"
        "vote meta image"
        "vote footer image"
        "body body body"
        "preview preview preview";

      .url-subheader {
        margin-top: 0;
        margin-bottom: 0;
      }

      .meta-content .meta-item {
        padding: 0;
      }

      > figure {
        align-self: flex-start;
        max-height: min(90vh, 10rem);
        img {
          position: relative;
          vertical-align: middle;
        }
      }

      .no-image-placeholder {
        height: fit-content;
        padding: 1rem 0;
        place-self: flex-start center;
        width: 4rem;
      }
    }

    @media (max-width: 689.98px) {
      #content article.entry {
        grid-template-areas:
          "title title vote"
          "meta meta image"
          "footer footer image"
          "body body body"
          "preview preview preview";
        grid-template-columns: 1fr min-content min-content;

        > figure {
          height: fit-content;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          width: fit-content;
        }
      }
    }
  }

  /** Compact Article page **/
  #middle.page-entry-single main#main.view-compact #content {
    article.entry {
      figure {
        height: fit-content;
      }
    }
    @media (max-width: 689.98px) {
      article.entry:not(.no-image) {
        grid-template-areas:
          "preview preview"
          "title vote"
          "shortDesc shortDesc"
          "meta meta"
          "footer footer"
          "image image"
          "body body";
      }
      article.entry.no-media-preview:not(.no-image) {
        grid-template-areas:
          "title title vote"
          "meta meta image"
          "footer footer image"
          "body body body";
      }
    }
  }

  /*** End compact mode ***/
}