/** Other Settings **/
body:not(.KUP-setting-showArticlePreview) {
  .show-article-preview {
    display: none !important;
  }
}

#content article.entry {
  .no-image-placeholder {
    place-self: center;
  }

  aside.meta.entry__meta {
    line-height: 2em;

    img {
      margin-right: .25rem;
      margin-left: .25rem;
    }
  }

  .magazine-inline {
    white-space: nowrap;
  }

  &.selected {
    border: var(--kbin-meta-border);
  }


  /** Thumbnail **/
  & > figure {
    align-self: center;

    img {
      object-position: center;
    }
  }

  /** Vote **/
  aside.vote {
    place-content: center;
  }

  /** Preview buttons **/
  button {
    &.show-preview, &.preview-button {
      border: var(--kbin-button-primary-border);
      color: var(--kbin-button-primary-text-color);
      background: var(--kbin-button-primary-bg);
      padding: 0.5em;
      cursor: pointer;

      &:hover {
        color: var(--kbin-button-primary-text-hover-color);
        background: var(--kbin-button-primary-hover-bg);
      }
    }
  }
}

/** Compact mode **/
main#main.view-compact {
  article.entry {
    grid-template-areas:
      "vote image title"
      "vote image meta"
      "vote image footer"
      "body body body"
      "preview preview preview" !important;

    &.no-image {
      grid-template-areas:
      "vote title"
      "vote meta"
      "vote footer"
      "body body"
      "preview preview" !important;
    }

    figure {
      margin-right: 1rem;

      img {
        max-height: 100px;
        max-width: 120px;
      }
    }
  }

  @media (max-width: 689.98px) {
    article.entry {
      grid-template-areas:
        "image vote"
        "title vote"
        "meta vote"
        "footer vote"
        "body body"
        "preview preview" !important;
      grid-template-columns: auto min-content;

      figure {
        img {
          object-fit: contain;
        }
      }

      &.no-image {
        grid-template-areas:
          "title vote"
          "meta vote"
          "footer vote"
          "body body"
          "preview preview" !important;
        grid-template-columns: auto min-content;
      }

    }
  }
}

/** Preview **/
.preview-outer {
  grid-area: preview;

  .preview-inner {
    position: relative;
    display: none;
    border-top: var(--kbin-meta-border);
    padding: 1em;

    &.show {
      display: block;
    }

    .loading {
      position: relative;
      height: 3em;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: showPreviewLoading 0.25s ease-in-out;
    }


    /** Article preview **/
    .article-preview-content {
      position: relative;

      &.loaded {
        animation: articlePreviewFadeIn 0.5s ease-in-out;
      }
    }

    /** Media preview **/
    .media-preview-content {
      position: relative;

      img {
        max-width: 100%;
        max-height: 100%;
        min-width: 100px;
        object-fit: contain;

        &.animateMinResize {
          animation: animateMinResize 0.25s ease-out;
          transform-origin: left top;
        }

        @keyframes animateMinResize {
          0% {
            opacity: 1;
            transform: scale(1);
          }
          33% {
            opacity: 0.8;
            transform: scale(0.95);
          }

          66% {
            opacity: 1;
            transform: scale(1.01);
          }

          100% {
            opacity: 1;
            transform: scale(1);
          }

        }
      }

      &.oembed-embed {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        height: 100vh;
        margin: 0 auto;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;
          border: none;
        }
      }

      &.youtube-embed {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
        aspect-ratio: 16/9;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }

      &.loaded {
        animation: articlePreviewFadeIn 0.5s ease-in-out;
      }
    }
  }
}

@keyframes showPreviewLoading {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.15);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes articlePreviewFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-0.5em);
  }
  100% {
    opacity: 1;
  }
}

/** Mobile **/
@media (max-width: 689.98px) {
  #content article.entry {
    & > figure {
      margin: 0;
    }

    /** Mobile - Vote **/
    aside.vote {
      place-self: center;
    }
  }
}