/** Alternative Mobile UI **/
body.KUP-setting-alternativeMobileUI {

  /** All articles **/
  article.entry {

    /** Meta section **/
    .meta-content {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
      gap: 1em;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      vertical-align: middle;

      img {
        width: 20px;
        height: 20px;
        aspect-ratio: 1;
      }

      /** Time posted **/
      .time-outer {
        vertical-align: middle;
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        padding: 0.5rem 0;

        .timeago {
          margin-left: 0.25rem;
        }
      }

      /*** End time posted ***/

      .meta-icon {
        font-size: 20px;
        margin-right: 0.25rem;
        margin-left: 0.25rem;
      }
    }

    /*** End meta section ***/

    /** Footer **/
    footer {
      z-index: 1;

      menu {
        align-items: center;

        .boost-link-removed {
          overflow: hidden;
          height: 0;
          width: 0;
          visibility: hidden;
          position: absolute;
        }
      }
    }

    .fa-solid.fa-thumbtack {
      font-size: 1.4em;
      vertical-align: middle;
    }

    .footer-button {
      font-size: 1.4em;
      vertical-align: middle;
      white-space: nowrap;

      &.active {
        color: var(--kbin-button-primary-bg);
      }

      &.more-link {
        width: 1.5em;
        height: 100%;
      }
    }

    /*** End footer ***/
  }


  /** Mobile **/
  @media (max-width: 689.98px) {

    /** Mobile Rounded edges **/
    &.rounded-edges .page-entry-single article.entry:not(.no-image) .media-preview {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    /** Mobile Article page **/
    .page-entry-single #content {
      article.entry:not(.no-image) {
        grid-template-areas:
          "preview preview"
          "title vote"
          "shortDesc shortDesc"
          "meta meta"
          "footer footer"
          "image image"
          "body body" !important;

        &:not(.no-media-preview) {
          figure img {
            display: none;
          }
        }

        &.no-media-preview {
          grid-template-areas:
            "image image"
            "title vote"
            "shortDesc shortDesc"
            "meta meta"
            "footer footer"
            "preview preview"
            "body body" !important;
        }
      }

      article.entry.no-image {
        grid-template-areas:
          "preview preview"
          "title vote"
          "shortDesc shortDesc"
          "meta meta"
          "footer footer"
          "image image"
          "body body" !important;
        grid-template-columns: auto min-content;
      }

      .media-preview-li {
        display: none;
      }
    }
    /*** End Mobile article page ***/


    /** Mobile Front page **/

    /** Mobile Rounded edges **/
    &.rounded-edges #middle:not(.page-entry-single) article.entry:not(.no-image) .media-preview img {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    #middle:not(.page-entry-single) #content {
      article.entry {
        margin-bottom: 2rem;

        .media-preview {
          margin-bottom: -.5rem;
        }
      }

      .no-image-placeholder {
        display: block;
      }

      article.entry:not(.no-image) {
        grid-template-areas:
        "image image"
          "title vote"
          "shortDesc vote"
          "meta meta"
          "body body"
          "footer footer"
          "preview preview" !important;


        &.no-media-preview {
          grid-template-areas:
            "image image"
            "title vote"
            "shortDesc vote"
            "meta meta"
            "body body"
            "footer footer"
            "preview preview" !important;
        }
      }

      article.entry.no-image {
        grid-template-areas:
            "image image"
            "title vote"
            "shortDesc vote"
            "meta meta"
            "body body"
            "footer footer"
            "preview preview" !important;
        grid-template-columns: auto min-content;

      }
    }

    /** Mobile All pages **/
    #content {
      article.entry {
        padding-bottom: 0;

        .meta-content {
          justify-content: space-around;
        }

        .media-preview {
          overflow: hidden;
          max-height: 90vh;
          padding: 0;
        }

        .media-preview img {
          max-width: 100%;
        }

        .vote {
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }

        .entry__meta {
          text-align: center;
        }

        footer {
          text-align: center;
          border-top: var(--kbin-section-border);
          margin-top: 1rem;
          padding-top: 0.8em;
          padding-bottom: .8em;

          menu {
            place-content: space-around;
          }
        }

        menu {
          grid-auto-columns: auto;

          .fa-solid.fa-thumbtack {
            font-size: 1.4em;
            vertical-align: middle;
          }
        }
      }

      /** Mobile Article with thumbnail **/
      article.entry:not(.no-image) {
        > figure {
          display: none;
        }

        > figure {
          display: block;

          img {
            width: 100%;
            max-width: 100%;
            max-height: 90vh;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
          }
        }

        grid-template-columns: auto min-content;
        padding-top: 0;
      }

      /*** End Mobile Article with thumbnail ***/
    }
  }
  /*** End Mobile ***/
}