#content article.entry {
  &.no-image {
    grid-template-areas:
      "vote title"
      "vote shortDesc"
      "vote meta"
      "vote footer"
      "body body"
      "preview preview";
  }

  &:not(.no-image) {
    grid-template-areas:
      "vote image title"
      "vote image shortDesc"
      "vote image meta"
      "vote image footer"
      "body body body"
      "preview preview preview" !important;
    grid-template-columns: min-content min-content auto;
  }
}


/** Mobile All pages **/
@media (max-width: 689.98px) {
  #content article.entry {
    &:not(.no-image) {
      grid-template-areas:
        "image image"
        "vote title"
        "vote shortDesc"
        "meta meta"
        "footer footer"
        "body body"
        "preview preview" !important;
      grid-template-columns: min-content 1fr;
    }

    &.no-image {
      grid-template-areas:
        "vote title"
        "vote shortDesc"
        "vote meta"
        "vote footer"
        "body body"
        "preview preview" !important;
      grid-template-columns: min-content 1fr;
    }
  }
}

/** Compact mode **/

main#main.view-compact {
  article.entry {
    grid-template-areas:
      "vote title image"
      "vote meta image"
      "vote footer image"
      "body body body"
      "preview preview preview" !important;
    grid-template-columns: min-content 1fr min-content;

    &.no-image {
      grid-template-areas:
      "vote title"
      "vote meta"
      "vote footer"
      "body body"
      "preview preview" !important;
    }

    figure {
      /*img {
        max-height: 100px;
        max-width: 120px;
      }*/
    }
  }

  @media (max-width: 689.98px) {
    article.entry {
      grid-template-areas:
      "title title vote"
      "meta meta image"
      "footer footer image"
      "body body body"
      "preview preview preview" !important;
      grid-template-columns: 1fr min-content min-content;

      figure {
        img {
          object-fit: contain;
        }
      }

      &.no-image {
        grid-template-areas:
          "title vote"
          "meta vote"
          "footer vote"
          "body body"
          "preview preview" !important;
        grid-template-columns: auto min-content;
      }

    }
  }
}