/** Other Settings **/
body:not(.KUP-setting-showArticlePreview) {
  .show-article-preview {
    display: none !important;
  }
}

/** Rounded edges **/
.media-preview-content {
  position: relative;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

#content article.entry {
  .no-image-placeholder {
    place-self: center;
  }

  aside.meta.entry__meta {
    line-height: 2em;

    img {
      margin-right: .25rem;
      margin-left: .25rem;
    }
  }

  .magazine-inline {
    white-space: nowrap;

    .mag-instance {
      font-weight: 100;
    }
  }

  &.selected {
    border: var(--kbin-meta-border);
  }


  /** Thumbnail **/
  & > figure {
    align-self: center;

    img {
      object-position: center;
    }
  }

  /** Vote **/
  aside.vote {
    place-content: center;
  }

  /** Preview buttons **/
  button {
    &.show-preview, &.preview-button {
      border: var(--kbin-button-primary-border);
      color: var(--kbin-button-primary-text-color);
      background: var(--kbin-button-primary-bg);
      padding: 0.5em;
      cursor: pointer;

      &:hover {
        color: var(--kbin-button-primary-text-hover-color);
        background: var(--kbin-button-primary-hover-bg);
      }
    }
  }
}

/** Preview **/
.preview-outer {
  grid-area: preview;

  .preview-inner {
    position: relative;
    display: none;
    border-top: var(--kbin-meta-border);

    &.show {
      display: block;
    }

    .loading {
      position: relative;
      height: 3em;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: showPreviewLoading 0.25s ease-in-out;
    }

    /** Article preview **/
    .article-preview-content {
      position: relative;
      padding: 1em;

      &.loaded {
        animation: articlePreviewFadeIn 0.5s ease-in-out;
      }
    }

    /** Media preview **/
    .media-preview-content {
      position: relative;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        min-width: 100px;
        object-fit: contain;
        vertical-align: middle;

        &.animateMinResize {
          animation: animateMinResize 0.25s ease-out;
          transform-origin: left top;
        }

        @keyframes animateMinResize {
          0% {
            opacity: 1;
            transform: scale(1);
          }
          33% {
            opacity: 0.8;
            transform: scale(0.95);
          }

          66% {
            opacity: 1;
            transform: scale(1.01);
          }

          100% {
            opacity: 1;
            transform: scale(1);
          }

        }
      }

      &.oembed-embed {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        height: 100vh;
        margin: 0 auto;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;
          border: none;
        }
      }

      &.youtube-embed {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
        aspect-ratio: 16/9;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }

      &.loaded {
        animation: articlePreviewFadeIn 0.5s ease-in-out;
      }
    }
  }
}

@keyframes showPreviewLoading {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.15);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes articlePreviewFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-0.5em);
  }
  100% {
    opacity: 1;
  }
}

/** Mobile **/
@media (max-width: 689.98px) {
  #content article.entry {
    /** Mobile - Vote **/
    aside.vote {
      place-self: center;
    }
  }
}