#settings .settings-list {
  display: none !important;
  visibility: hidden;
}

#settings .settings-panel-footer {
  font-size: 0.8em;
  font-weight: 100;
  span {
    margin-left: 0.25em;
  }
}

.settings-panel {
  .settings-section {
    margin-bottom: 2em;

    .settings-section-header {
      font-weight: bold;
      margin-bottom: 1em;
      cursor: pointer;

      &:hover {
        color: var(--kbin-primary);
      }

      .icon {
        margin-right: 0.5em;
      }

      .icon-chevron {
        transition: transform 0.25s ease-in-out;
        transform: rotate(-90deg);
        margin-left: .5em;
      }
    }

    &.expanded {
      .icon-chevron {
        transform: rotate(0deg);
      }
    }

    &.expanded {
      .settings-row {
        display: grid;
      }
    }

    .settings-row {
      display: none;
      grid-template-areas: "name value" "description value";
      grid-template-columns: auto;
      align-items: center;
      margin-bottom: 1em;
      animation: showSettingsRow 0.25s ease-in-out;

      @keyframes showSettingsRow {
        from {
          opacity: 0;
          transform: translateY(-1em);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .name {
        margin-right: 1em;
        grid-area: name;

      }

      .description {
        grid-area: description;
        font-size: 0.8em;
        font-weight: 100;
        color: var(--kbin-secondary-text-color);
      }

      .value-container {
        flex-grow: 1;
        text-align: right;
        grid-area: value;
        margin-left: 1em;

        .link-muted.active {
          color: var(--kbin-primary);
          font-weight: 800 !important;
        }

        &.enum {
          border: var(--kbin-button-primary-border);
          border-radius: 0.5em;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
          align-items: center;
          text-align: center;
          background-color: var(--kbin-button-secondary-bg);
          overflow: hidden;
          font-size: 0.8em;

          .value {
            padding: 0.5em 0.25em;
            font-weight: 100;
            color: var(--kbin-button-secondary-text-color);
          }

          .value:not(:last-child) {
            border-right: var(--kbin-button-primary-border);
          }

          .value.selected {
            background: var(--kbin-button-primary-bg);
            color: var(--kbin-button-primary-text-color);
            font-weight: 800 !important;
          }
        }

        .switch {
          position: relative;
          display: inline-block;
          width: 3em;
          height: 1.5em;
          border-radius: .75em;
          overflow: hidden;
          border: var(--kbin-button-primary-border);

          input {
            width: 0;
            height: 0;
            visibility: hidden;
          }

          &:hover {
            .slider {
              background-color: var(--kbin-button-secondary-text-hover-color);

              &:before {
                background-color: var(--kbin-button-primary-text-hover-color);
                border: .5em solid var(--kbin-button-primary-text-hover-color);
              }
            }

            input:checked + .slider {
              background-color: var(--kbin-button-primary-hover-bg);
            }

            input:checked + .slider:before {
              background: var(--kbin-button-primary-hover-bg);
            }
          }
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: var(--kbin-button-secondary-text-color);
          transition: .25s;

          &:before {
            position: absolute;
            content: "";
            height: 100%;
            aspect-ratio: 1;
            left: 0;
            bottom: 0;
            background-color: var(--kbin-button-primary-text-color);
            transition: .25s;
            border-radius: 0.75em;
            border: .5em solid var(--kbin-button-primary-text-color);
          }
        }

        input:checked + .slider {
          background-color: var(--kbin-button-primary-bg);
        }

        input:checked + .slider:before {
          transform: translateX(1.5em);
          background: var(--kbin-button-primary-bg);
        }
      }
    }
  }
}

#settings-notification-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1em;
  display: none;
  flex-direction: column;
  align-items: center;
  pointer-events: none;

  &.visible {
    display: flex;
  }

  .notification {
    pointer-events: initial;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.25rem;
    background-color: var(--kbin-bg);
    box-shadow: var(--kbin-shadow);
    border: var(--kbin-section-border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: showNotification 0.25s ease-in-out;

    @keyframes showNotification {
      from {
        opacity: 0;
        transform: translateY(1em);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .message {
      margin-right: 1em;
    }

    .message-icon {
      margin-right: 1em;
    }

    button {
      background: var(--kbin-button-primary-bg);
      color: var(--kbin-button-primary-text-color);
      border: var(--kbin-button-primary-border);
      cursor: pointer;

      &:hover {
        background: var(--kbin-button-primary-hover-bg);
        color: var(--kbin-button-primary-hover-text-color);
      }
    }
  }
}
