body:not(.KUP-setting-settingsCompatibilityMode) {
  #settings .settings-list {
    display: none !important;
    visibility: hidden;
  }
}

#settings .settings-panel-footer {
  font-size: 0.8em;
  font-weight: 100;
  span {
    margin-left: 0.25em;
  }
}

.settings-panel {
  .settings-section {
    margin-bottom: 2em;

    .settings-section-header {
      font-weight: bold;
      margin-bottom: 1em;
      cursor: pointer;

      &:hover {
        color: var(--kbin-primary);
      }

      .icon {
        margin-right: 0.5em;
      }

      .icon-chevron {
        transition: transform 0.25s ease-in-out;
        transform: rotate(-90deg);
        margin-left: .5em;
      }
    }

    &.expanded {
      .icon-chevron {
        transform: rotate(0deg);
      }
    }

    &.expanded {
      .settings-row {
        display: grid;
      }
    }

    .settings-row {
      display: none;
      animation: showSettingsRow 0.25s ease-in-out;

      @keyframes showSettingsRow {
        from {
          opacity: 0;
          transform: translateY(-1em);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .value-container {
        flex-grow: 1;
        text-align: right;
        grid-area: value;
        margin-left: 1em;

        .link-muted.active {
          color: var(--kbin-primary);
          font-weight: 800 !important;
        }

        &.enum {
          border: var(--kbin-button-primary-border);
          border-radius: 0.5em;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
          align-items: center;
          text-align: center;
          background-color: var(--kbin-button-secondary-bg);
          overflow: hidden;
          font-size: 0.8em;

          .value {
            padding: 0.5em 0.25em;
            font-weight: 100;
            color: var(--kbin-button-secondary-text-color);
          }

          .value:not(:last-child) {
            border-right: var(--kbin-button-primary-border);
          }

          .value.selected {
            background: var(--kbin-button-primary-bg);
            color: var(--kbin-button-primary-text-color);
            font-weight: 800 !important;
          }
        }

        button {
          background: var(--kbin-button-primary-bg);
          color: var(--kbin-button-primary-text-color);
          border: var(--kbin-button-primary-border);
          cursor: pointer;
          font-size: 0.8em;

          &:hover {
            background: var(--kbin-button-primary-hover-bg);
            color: var(--kbin-button-primary-hover-text-color);
          }
        }
      }
    }
  }
}
